$green: #55dbb1;
$background: #f2f2f2;

body {
  background: $background;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  // background: peachpuff;
  width: 26em;
  display: flex;
}

.submit {
  background: $green;
  height: 2.7em;
  width: 13em;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: roboto;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 3px;
  cursor: pointer;
}

.submit__text {
  opacity: 1;
  
  &.active {
    transition: 0.5s;
    opacity: 1;
  }
}

.ball {
  height: 2.7em;
  width: 0em;
  transform: scale(0);
  border-radius: 50%;
  background: $green;
  font-size: 2em;
  display: inline;
  
  &.ball-1 {
    margin-left: -23%;
  }
}


#slider {
  position: absolute;
  top: 70%;
  width: 100px;
}