.loader
	- for (var x = 1; x < 6; x++)
		.square
		
.details
	p| Slidin' Squares Loader. Designed by #[a(href="https://dribbble.com/shots/2800819-Slidin-squares-loader" target="_new") Vitaly Silkin] of Dribbble. Recreated in HTML / CSS by #[a(href="https://codepen.io/sebastianinman" target="_new") Sebastian Inman].